.container {
  margin: 0 auto;
  max-width: 960px;
}

.row {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0 auto;
	max-width: 960px;
}

select.form-control {
	margin: 5px;
}

body { 
    padding-top: 50px; 
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px;
  /* Set the fixed height of the footer here */
  height: 100px;
  
  background-color: #f5f5f5;
}

html {
  position: relative;
  min-height: 100%;
}

.alert-box{
  position:fixed;
  z-index:1400;
  bottom:3%;
  left:3%;
  margin:0px auto;
  text-align:center;
  display:none;
}

.btn-custom {
  color: #fff;
  background-color: #0C3E22;
  border-color: #f0f0f0;
}

.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom:active { 
  color: #fff;
  background-color: #27ae60;
  border-color: #f0f0f0;
}

.btn.focus, .btn:focus, .btn:hover {
  color: #fff !important;
}

.btn:hover { color: inherit; }




.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}