<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Läsår <%=studyYear%> <small>Antal poäng: XY hp</small></h2>
		</div>
		<div class="panel-body" id="header-year-<%=studyYear%>">
			<!-- LIST ALL COURSES INSIDE HERE -->
		</div>
		<div class="panel-footer">
			<span class="label label-default">Lp 1: XY hp</span>
			<span class="label label-default">Lp 2: XY hp</span>
			<span class="label label-default">Lp 3: XY hp</span>
			<span class="label label-default">Lp 4: XY hp</span>
		</div>
	</div>
</div>